<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="failure.css">
  <title>Agify App</title>
</head>
<body>
   <div class="container">
      <h1>Error <span id="error-name"><%= errorCode %></span></h1>
      <p id="error-description"><%= errorMessage %></p>
      <form action="/" method="get">
         <button id="back-button" class="button" action="/" method="get">Go Back</button>
      </form>
   </div>
</body>
</html>