<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Agify App</title>
</head>
<body>
  <div class="container">
    <h1>Agify App</h1>

    <form action="/" method="post">
        <input type="text" id="name" name= "name" placeholder="First Name" autocomplete="off">
        <select name="country_code" id="country_code">
          <option value="all">All</option>
          <option value="FR">France</option>
          <option value="IT">Italy</option>
          <option value="ES">Spain</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="JP">Japan</option>
          <option value="GR">Greece</option>      
        </select>
        <button class="button">Guess Age</button>
    </form>
  
    <div class="output">
      <h2 id="age_guess"><%= ageGuess %></h2>
      <p id="count"> <%= numOfDataPoints %></p>
    </div>
  </div>
</body>
</html>